<template>
    <div>
        <div class="uk-flex uk-flex-wrap uk-flex-wrap-middle">
            <div v-for="gif in gifs" :key="gif.id">
                <img :src="gif.images.fixed_height_small.url">
                <button v-on:click="addedLike(gif)">+</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        addedLike (gif) {
            this.$store.dispatch("onLike", gif)
        }
    },
    computed: {
        gifs () {
            if (this.$store.getters.gimmeSearchString === '') {
                return this.$store.getters.gimmeTrendList
            } else {
                return this.$store.getters.gimmeSearchedList
            }
        }
    }
}
</script>

<style scoped>
img {
    margin: 10px 10px 10px 10px;
    position: relative;
    height: 200px;
    z-index: -1;
}
img-enlarge:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 0;
}
button {
    margin-left: 10px;
    margin-right: 30px;
    position: relative;
    z-index: 0;
}
</style>
