<template>
  <div id="app">
    <SearchBar></SearchBar>
    <GifView></GifView>
    <LikedView></LikedView>
  </div>
</template>

<script>
import SearchBar from "./components/SearchBar.vue"
import GifView from "./components/GifView.vue"
import LikedView from "./components/LikedView.vue"

export default {
  name: 'app',
  created () {
    this.$store.dispatch('getTrends')
    this.$store.dispatch('onStartClearString')
  },
  components: {
    SearchBar,
    GifView,
    LikedView
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
